
.menuCircle {
    position: fixed;
    right: 10px;
    top: 20px;
    width: 70px;
    /* margin-top: -2.5em; */
    z-index: 1;

}

.owlMenu {
    width: 360px;
    /*height: 360px;*/
    background: white;
    border: black solid 4px;

    /* background: #d7371d; */
    transform: translateX(100%);
    transition: 1s;
    /* ajouté par rapport à base */
    margin-top : 5px;
}

.owlMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    /* background: #d7371d; */
    background: white;

}
.active {
    transform: translateX(-50%);
}

.gerard {
    /*height: 360px;*/
    transform: translateX(150%);
    transition: 1s;
}

.bob {
    transform: translateX(10px);
}


.owlMenu a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}
.owlMenu a:hover {
    color:  #efc22b;
    cursor:pointer;
}
.hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 5px 5px 105px rgba(0,0,0,.4);
    cursor: pointer;
    top: 0px;
    right: 5px;
    background: #fff;
    transition: all 1s;
    border-width:6px;
    border-color:black;

}
.hamburger span {
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-45%);
    background: black;
    transition: .5s;
    /*   box-shadow: 2px 2px 40px rgba(0,0,0,.5); */
}
.hamburger span::before {
    position: absolute;
    top: -10px;
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    transition: .2s;
}
.hamburger span::after {
    position: absolute;
    top: 10px;
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: black;
    transition: .2s;
}
.hamburger-active span {
    transform: rotate(180deg);
    left: 20%;
}
.hamburger-active span::before {
    transform: rotate(45deg);
    width: 20px;
    transform-origin: right top;
    top: 0;
    right: 0;
}
.hamburger-active span::after {
    transform: rotate(-45deg);
    width: 20px;
    transform-origin: right bottom;
    top: 0;
    right: 0;
}

.formBlock .btn {
    border-radius: 8px;
}
/* 
.connectedMail {
    color:#efc22b;
} */


@media (max-width: 767px) {

    .menuCircle {
        position: fixed;
        right: 10px;
        top: 20px;
        width: 70px;
        /* margin-top: -2.5em; */
        z-index: 1;

    }

    .owlMenu {
        width: 360px;
        /*height: 360px;*/
        background: white;
        border: black solid 4px;


        /* background: #d7371d; */
        transform: translateX(100%);
        transition: 1s;
        /* ajouté par rapport à base */
        margin-top: 5px;
    }

    .owlMenu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        /* background: #d7371d; */
        background: white;

    }

    .active {
        transform: translateX(-50%);
    }


    .gerard {
        /*height: 360px;*/
        transform: translateX(150%);
        transition: 1s;
    }

    .bob {
        transform: translateX(10px);
    }



    .owlMenu a {
        display: block;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
    }

    .owlMenu a:hover {
        color: #99dcb3;
        cursor: pointer;
    }

    .hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 5px 5px 105px rgba(0, 0, 0, .4);
        cursor: pointer;
        top: 0px;
        left: 5px;
        background: #fff;
        transition: all 1s;
        border-width: 6px;
        border-color: black;

    }

    .hamburger span {
        position: absolute;
        display: block;
        width: 20px;
        height: 3px;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-45%);
        background: black;
        transition: .5s;
        /*   box-shadow: 2px 2px 40px rgba(0,0,0,.5); */
    }

    .hamburger span::before {
        position: absolute;
        top: -8px;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background: black;
        transition: .2s;
    }

    .hamburger span::after {
        position: absolute;
        top: 8px;
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background: black;
        transition: .2s;
    }

    .hamburger-active span {
        transform: rotate(180deg);
        left: 30%;
    }

    .hamburger-active span::before {
        transform: rotate(45deg);
        width: 10px;
        transform-origin: right top;
        top: 0;
        right: 0;
    }

    .hamburger-active span::after {
        transform: rotate(-45deg);
        width: 10px;
        transform-origin: right bottom;
        top: 0;
        right: 0;
    }

    .formBlock .btn {
        border-radius: 8px;
    }

}

