@tailwind base;
@tailwind components;
@tailwind utilities;



ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply
  text-2xl   
  max-md:text-xl
  max-sm:text-lg
  mb-4
  text-gray-700
}

h3 {
 font-size:1.6rem;
}

input {
  @apply
  w-full
}

.siteName {
  width:10px;
  height:10px;
  background-color:red;
}

/* .MuiFormControlLabel-root {
  display:flex;
  background-color:pink;
  self-align:center
} */

input:focus {
  outline: none; /* Désactiver l'outline au focus */
}


