
.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yellowOverlay {
  background-color: yellow;
  opacity: 0.5;
}

.blueOverlay {
  background-color: blue;
  opacity: 0.5;
}

.greenOverlay {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: green;
}

.navbarContainer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#burger-container {
  position: absolute;
  top: 50%;
  right: 80px; /* Ajustez la valeur en fonction de votre mise en page */
  transform: translate(0, -50%);
  width: 500px;
  z-index: 1000;
}

/* .wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
} */

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: #000;
  display: block;
  width: 40px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  top: 4;
  transition: all ease-in-out 0.4s;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
  width: 0;
  opacity: 0;
}

#burger-container.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 13px;
}

#burger-container.open span:nth-child(4) {
  transform: rotate(45deg);
  top: -14px;
}

.headerContainer {
  border-bottom-width:3px;
  border-bottom-color:black;

}