#startHours {
    @apply 
    mr-4
}


.activityForm {
    @apply 
    w-full 
    flex 
    flex-wrap
}


.blackText {
    @apply 
    text-red-200
}


.buttonAndDescriptionContainer {
    @apply 
    w-full 
    flex 
    flex-row 
    m-4
}


.buttonContainer {
    @apply 
    w-full 
    m-3
}


.buttonRemoveAdd {
    @apply 
    flex 
    flex-shrink-0 
    bg-white 
    text-black 
    py-2 
    px-4 
    mr-4 
    my-4 
    rounded-xl 
    shadow-sm 
    shadow-black 
    hover:bg-black 
    hover:text-white
}


.cityItem {
    cursor: pointer;
}


.detailActivityForm {
    @apply 
    w-full 
    flex 
    flex-wrap 
    mt-12 
    rounded-lg
}


.detailActivityForm .inputRegistration {
    background-color: #AEB861;
}


.detailActivityForm select {
    background-color: #AEB861;
}


.error {
    @apply 
    text-orange-600 
    text-base 
    italic
}


.formActivityElement {
    @apply 
    flex 
    max-lg:w-full 
    justify-end 
    mb-4 
    h-24
}


.formActivityElement1 {
    @apply 
    w-1/5 
    max-lg:w-full
}


.formActivityElement2 {
    @apply 
    w-2/5 
    max-lg:w-full
}


.formActivityElement3 {
    @apply 
    w-3/5 
    max-lg:w-full 
    mt-4
}


.formActivitySubelement {
    @apply 
    flex 
    flex-col 
    justify-center 
    m-4 
    self-end 
    w-full;
}


.formActivitySubelement2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 4px;
    margin-top: 40px;
    width: 100%;
}


.formBackground {
    @apply w-4/5 bg-white p-4
}


.formContainer {
    @apply 
    flex 
    w-full 
    flex-col 
    items-center 
    justify-start 
    pt-10 
    pb-10;
    min-height: 100vh
}


.formContent {
    @apply 
    w-full 
    flex 
    flex-wrap 
    justify-between
}


.formDetailActivityElement {
    @apply 
    flex 
    max-lg:w-full 
    w-1/4 
    justify-end 
    mb-4 
    h-24
}


.formDetailActivitySubelement {
    @apply 
    m-4 
    self-end 
    w-full;
}


.formTitle {
    @apply 
    mb-8 
    text-center
}


.inputRegistration {
    @apply 
    w-full 
    p-2 
    rounded-lg 
    border 
    bg-orange-400 
    border-black 
    border-solid;
    border-width: 3px;
}


.inputRegistration option {
    @apply 
    w-full
}


.inputRegistration::placeholder {
    color: #c06617;
    font-style: italic;
}


.inputSelectContainer {
    @apply 
    flex 
    flex-row 
    flex-grow 
    w-full
}


.inputSelectContainer select {
    @apply 
    text-left 
    w-full 
    p-2 
    rounded-lg 
    bg-orange-400 
    border 
    border-black 
    border-solid;
    border-width: 3px;
}


.inputSelectContainer> :first-child {
    @apply 
    mr-2;
}


.inputSelectContainer> :nth-child(2) {
    @apply 
    ml-2;
}


.inputSelectContainer option {
    @apply 
    w-full
}


.inputTitle {
    @apply 
    mb-2.5 
    text-black
}


.leftSelect {
    @apply 
    mr-2
}


.orgFormBackground {
    @apply 
    w-4/5 
    bg-white 
    p-12
}


.orgInputTitle {
    @apply 
    mb-2.5 
    mt-5 
    text-black 
    text-lg
}


.orgSwitch {
    @apply 
    mt-8
}


.registerSection {
    @apply 
    flex 
    flex-col
}


.rightSelect {
    @apply ml-2
}


.swith {
    @apply 
    mb-24
}


.uploadBtn {
    border: #cccccc 1px solid;
    padding: 4px;
    border-radius: 5px;
}


.uploadInput {
    margin-bottom: 30px;
}


.uploadLabel {
    margin-top: 30px;
    margin-left: 8px;
}


.validButton {
    @apply 
    flex 
    flex-shrink-0 
    hover:bg-white 
    hover:text-black 
    py-2 
    px-4 
    ml-1 
    mr-4 
    my-4 
    mt-12 
    rounded-xl 
    shadow-sm 
    shadow-black 
    bg-black 
    text-white
}