.registerSection {
    @apply 
    flex 
    flex-col
}

.formBackground {
    @apply 
    w-4/5 
    bg-white 
    p-4
}

.formContainer {
    @apply 
    flex 
    w-full 
    flex-col 
    items-center 
    justify-center 
    pt-10 
    pb-10
}

.inputRegistrationContainer {
    @apply 
    flex 
    flex-col 
    justify-end 
    items-start
    w-full
    border-b 
    border-lime-800
    pb-1
}

.inputRegistrationContainer2 {
    @apply 
    flex 
    flex-col 
    justify-end 
    items-start
    w-full
}

.inputRegistrationContainer3 {
    @apply 
    flex 
    flex-col 
    justify-between 
    items-start
    w-3/4
    pr-3
}

#startHours {
    @apply mr-4
}


.inputRegistration {
    @apply 
    appearance-none 
    bg-transparent 
    border-none 
    w-full 
    text-gray-700
    leading-tight 
    focus:outline-none
}

.inputRegistration option {
    @apply
    w-full
}

.inputRegistration::placeholder {
    @apply
    text-gray-500
}


.placeholderOption {
    @apply
    text-gray-500 
    bg-white
}

.formTitle {
    @apply 
    mb-8 
    text-center
}

.swith {
    @apply mb-24
}

.uploadBtn {
    border: #cccccc 1px solid;
    padding: 4px;
    border-radius: 5px;
}

.uploadLabel {
    color: #a0a7b2;
    margin-left: 8px;
    margin-bottom: 8px;
}

.uploadInput {
    margin-bottom: 30px;
}

.validButton {
    @apply 
    flex
    flex-shrink-0 
    bg-amber-800 
    hover:bg-amber-900 
    border-amber-800 
    hover:border-amber-900 
    text-sm border-4 
    text-white 
    py-1 
    px-2 
    rounded
    w-1/4
}

.error {
    @apply 
    text-lime-600 
    text-sm 
    italic
}

.blackText {
    @apply text-red-200
}

.inputSelectContainer {
    @apply 
    flex 
    flex-row 
    flex-grow
    w-full
}

.inputSelectContainer select {
    @apply
    text-left 
    /* border-b 
    border-lime-800 */
    w-full 
    pb-1;
    border-bottom: 1px solid #3f6212 !important;
}

.inputSelectContainer> :first-child {
    @apply 
    mr-2;
}

.inputSelectContainer> :nth-child(2) {
    @apply 
    ml-2;
}

.inputSelectContainer option {
    @apply
    w-full
}

.inputTitle {
    @apply
    mb-2.5 
    text-black
}

.formContent {
    @apply 
    w-full
    flex 
    flex-wrap 
    justify-between
}

.formDetailActivityElement {
    @apply 
    flex
    max-lg:w-full 
    w-1/4 
    justify-end 
    mb-4
    h-24
}

.formDetailActivitySubelement {
    @apply 
    m-4
    self-end
    w-full;
}

.detailActivityForm {
    @apply 
    w-full 
    flex 
    flex-wrap
}


.leftSelect {
    @apply mr-2
}

.rightSelect {
    @apply ml-2
}

.buttonAndDescriptionContainer {
    @apply
    w-full
    flex
    flex-row
    m-4
}